<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.radiomedweb.rmw"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>RMW</name>

    <description>
        Music is the Message! 
    </description>

    <author href="https://www.radiomedweb.com" email="info@radiomedweb.com">
        Enrico Maria Caporossi
    </author>


<js-module src="www/BackgroundJS.js" name="BackgroundJS">
        <clobbers target="navigator.BackgroundJS" />
    </js-module>


<feature name="BackgroundJS">
               <param name="ios-package" value="BackgroundJS" />
           </feature>

       <header-file src="src/ios/BackgroundJS.h" />
       <source-file src="src/ios/BackgroundJS.m" />
  


</widget>
